/*
  Animation.io Styling
  Anything in this file can be changed without crashing the animation…
  unless you overwrite stuff defined in core.css.
*/

/* =========================================================== */

/* PAGE BACKGROUND, SIZE */

body {
  /* the page itself */
  background-color: #a6d6ec;
  padding: 0;
  margin: 0;
}

#animframe {
  width: 1024px;
  margin: 40px auto;
}

/* TEXT STYLING */

.text, .hastext {
  font-size: 25px;
  line-height: 35px;
  display: block;
  padding: 5px 15px;
  margin: -5px -15px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
  
.hastext .inner {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
}

/* =========================================================== */
/* FALLBACK */
.fallback {
  position: absolute;
  top: 0;
  width: 100%; }
  .fallback .inner {
    text-align: center;
    width: 1190px;
    z-index: 100;
    color: #eee;
    margin: 170px auto;
    font: 21px/28px "after_shokregular", sans-serif; }
    .fallback .inner h1, .fallback .inner p {
      width: 570px;
      margin: 0 auto 34px; }
    .fallback .inner a {
      padding: 3px 7px;
      color: #fff;
      cursor: pointer !important;
      pointer-events: auto; }
