/* =========================================================== */

/* TEXT STYLING */

.text, .hastext {
  font-size: 20px;
  line-height: 30px;
  font-family: "sf_cartoonist_handregular", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", sans-serif;

  display: block;
  padding: 5px 15px;
  margin: -5px -15px;
  // background: rgba(255,255,255,0.4);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &.title {
    font-family: "sf_cartoonist_handbold";
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
  }

  &.text_auf_titelseite {
    width: 600px;
  }

  &.grey, .grey {
    color: #aaa;    
  }

  &.black, .black {
    color: #000;
  }

  &.small, .small {
    font-size: 18px;
    line-height: 24px;
  }

  p {
    padding: 0;
    margin: 20px 0;
  }

  &.center, .center {
    text-align: center
  }

  a {
    color: #33e;
    text-decoration: none;
  }
}


/* =========================================================== */
/* FALLBACK */

.fallback {
  position: absolute;
  top: 0;
  width: 100%;

  .inner {
    text-align: center;

    h1, p {
      width: 570px;
      margin: 0 auto 34px;
    }

    width: 1190px;
    z-index: 100;
    color: #eee;
    margin: 170px auto;
    font: 21px/28px "sf_cartoonist_handregular", sans-serif;
    a {
      padding: 3px 7px;
      color: #fff;
      cursor: pointer !important;
      pointer-events: auto;
    }
  }
}

/* =========================================================== */
/* COUNTER & TEXT IN SCENE 17 */

.counter {
  padding-top: 20px;
  width: 240px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

.hastext {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  .inner {
    margin: 25px 5px;
    font-size: 16px;
    line-height: 22px;
    font-family: sans-serif;
  }
  &.weiter {
    .inner {
      color: red;
      margin-top: 16px;
      font-size: 27px;
      line-height: 27px;
      font-family: "sf_cartoonist_handregular", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", sans-serif;      
    }
  }
}

body {
  /* the page itself */
  background-color: #a6d6ec;
  // background-image: url(../images/background.jpg);
  background-repeat:no-repeat;
  background-position:center 80px; 
  padding: 0;
  margin: 0;
  min-width: 1190px;
}

/* ======================================== */
// PAGE-LAYOUT

table {
  font-size: 0;
  line-height: 0;
  border: 0;
  img {
    position: inline-block;
  }
}

#stage {
  position: absolute;

  .quiz {
    text-align: left;
    padding: 0;
    margin: 0;

    &.answer {
      padding-left: 55px;
      background-position: top left;
      background-repeat: no-repeat no-repeat;
    }

    &.answer0 {
      background-image: url(/images/quiz/a.png);
    }

    &.answer1 {
      background-image: url(/images/quiz/b.png);
    }

    &.answer2 {
      background-image: url(/images/quiz/c.png);
    }

    .inner {
      text-align: left;
      font-family: "sf_cartoonist_handregular", serif !important;
      font-size: 22px;
      line-height: 27px;
      color: #2d1c13;
      padding: 0;
      margin: 0;
    }

    &.title {
      .inner {
        font-size: 30px;
        line-height: 40px;
        font-family: "sf_cartoonist_handbold";
        font-weight: bold;
      }
    }

    &.question {
      .inner {
        font-size: 25px;
        line-height: 32px;
        font-weight: bold;
      }
    }

    &.explanation {
      width: 405px;
      .inner {
        width: 355px;
        overflow: hidden;
        text-align: center;
        margin-top: 150px;
        margin-left: 45px;
      }
    }

    &.results {
      // border: 1px solid green;
      font-size: 22px;
      line-height: 26px;
    }
  }
}

#rahmen_wrapper {
  position: absolute;
  clear: both;
  top: 0;
  width: 100%;
  min-width: 1200px;
  height: 700px;
  pointer-events:none;

  #rahmen {
    position: relative;
    margin: 37px auto 10px;
    width: 1005px;
    margin-left: auto;
    margin-right: auto;

    .rahmen_oben {
      position: absolute;
      top: 0;
      left: 0;
      position: relative;
      z-index: 50;
    }
    .rahmen_rechts {
      position: absolute;
      top: 40px;
      right: 0;
    }
    .rahmen_links {
      position: absolute;
      top: 40px;
      left: 0;
    }
    .rahmen_unten {
      position: absolute;
      top: 667px;
      left: 0;
    }
  }
}